* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Jost', sans-serif;
  line-height: 1.5;
  color: #404040;
  font-size: 1rem;
  width: 100%;
}
.container-fluid{
  padding: 0;
}

/* header */
.fixed-top {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 50%;
  z-index: 100000;
  transform: translateX(-50%);
  border-bottom: 2px solid rgba(231, 231, 231, 0.18);
  background-color: transparent;
}

.main-header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

.nav-fixed {
  padding: 0px;
  background-color: #fff;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  z-index: 100000;
}

.nav-fixed .navbar .navbar-brand {
  color: #3f3a64
}

.nav-fixed #navbarCorp .nav-item .nav-link {
  color: #3f3a64;
}

.nav-fixed #navbarCorp .nav-item.active .nav-link {
  color: #009f4d;
}

.nav-fixed .btn i {
  color: black;
}
.nav-fixed .btn .fa-moon{
  color: black;
}

header .container {
  max-width: 1250px;
}

header .navbar-brand {
  font-size: 2rem;
  color: #fff;
}

header .navbar .navbar-brand {
  color: #fff;
}

header .navbar .navbar-brand .fa-align-right {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}

header .navbar .navbar-brand .logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: .9;
}

#navbarCorp .nav-item {
  margin: 0 10px;
}

#navbarCorp .nav-link i {
  font-size: 12px;
  transform: translateY(-3px);
}

#navbarCorp .nav-item .nav-link {
  color: #fff;
  transition: all .5s ease;
  font-size: 16px;
  padding: 14px 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: .8;
}

#navbarCorp .active .nav-link {
  opacity: 1;
}

#navbarCorp .header-search {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  border-radius: 100%;
  outline: 0;
  background-color: #009f4d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

#navbarCorp .header-darkLight {
  font-size: 20px;
  padding-right: 26px;
  color: #fff;
}

#navbarCorp .dropdown-menu {
  width: 180px;
  border-radius: 10px;
  transform: translateX(-60px);
  position: absolute;
  border: none;

}

#navbarCorp .dropdown-menu a {
  text-transform: uppercase;
  font-weight: 500;
  color: #3f3a64;
}

#navbarCorp .dropdown-menu::before {
  content: "";
  position: absolute;
  border-width: 12px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  right: 80px;
  top: -24px;
  content: "";
  position: absolute;
  border-width: 12px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  right: 80px;
  top: -24px;
}

.header-search .btn-material{
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: var(--primary-color);
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

/* carousel */
.carouselC{
  width: 100%;
  height: 100%;
  position: relative;
}
.carouselC .container-fluid{
  position: relative;
  height: auto;
  overflow: hidden;
}

#carouselCorp .carousel-item{
  width: 100%;
  min-height:100vh ;
}

#carouselCorp .carousel-item>img {
  height: 100%;
  object-fit: cover;
}

.bg1 {
  background: url(../Img/b1.jpg);
  background-size: cover;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: top;
}

.bg2 {
  background: url(../Img/b2.jpg);
  background-size: cover;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: top;
}

.bg3 {
  background: url(../Img/b3.jpg);
  background-size: cover;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: top;
}

.bg4 {
  background: url(../Img/b4.jpg);
  background-size: cover;
  background-repeat: no-repeat,
    no-repeat,
    no-repeat;
  background-position: top;
}

.carousel-item .overlay {
  background: rgba(29, 42, 55, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#carouselCorp .carousel-caption {
  position: absolute;
  top: 30%;
  left:11%;
  width:100%;
  text-align: left;
  text-overflow: clip;
  /* margin: 0 auto; */
}

#carouselCorp .carousel-caption h1 {
  line-height: 1.1;
  font-size: 65px;
  margin-bottom: 16px;
  font-weight: 600;

}

#carouselCorp .carousel-caption p {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  opacity: .9;
  word-break: break-word;

}

#carouselCorp .carousel-caption .btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  transition: 0.3s ease-in;
  border-radius: 8px;
  margin-left: -12px;
  margin-top: 10px;
}

#carouselCorp .carousel-caption .btn-secondary {
  padding: 12px 50px;
  background-color: #00a63f;
  border-color: #00a63f;
  color: #fff;
  border-radius: 8px;
}

#carouselCorp .btn-bottom {
  position: absolute;
  bottom: 65px;
  right: 40px;
  text-align: end;
  z-index: 5;
}

#carouselCorp .carousel-control-next,
#carouselCorp .carousel-control-prev {
  position: relative;
  margin: 0 8px;
  font-weight: 900;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  /* border: 2px solid; */
  z-index: 5;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%)
}

#carouselCorp i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* gợn sóng */
.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  fill: white;
}
.svg{
  vertical-align: bottom;
  overflow:hidden ;
}

/* about */
.title-s{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 26px;
  display: block;
  color: #7e7d7d;
}
.title-b{
  font-size: 34px;
  line-height: 45px;
  font-weight: 600;
  color: #3f3a64
}
.title-p{
  color: #949494;
}
.img-about{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.about-list{
  list-style: none;
}
.about-link{
  margin-bottom: 10px;
}
.about-link span{
  text-align: center;
  margin-right: 14px;
}
.about-link a{
  font-size: 19px;
  color: #3f3a64;
  font-weight: 500;
  text-decoration: none;
}
.about-link i{
  width: 16px;
  height: 16px;
  font-size: 12px;
  background-color: #009f4d;
  border-radius: 50%;
  color: #fff;
  line-height: 20px;
}

/* every */
.every .btn-secondary {
  padding: 12px 46px;
  background-color: #00a63f;
  border-color: #00a63f;
  line-height: 18px;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
}
.every-grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 25px;
}
.every-item1{
  padding: 40px 30px;
  border-radius:8px;
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  background-color: #fff;
  transition: .3s ease;
  -webkit-transition: .3s ease;
}
.every-item1 h4 a{
  color: #3f3a64;
  text-decoration: none;
}
.every-item1:hover{
  transform: translateY(-4px);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
  transition: .3s ease;
}
.every-item1 h4 a:hover{
  color: #009f4d;
  transition: all .5s;

}
/* Always */
.always h3{
  text-align: center;
}
.always-img{
  display: block;
}
.always-img img{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-width: 100%;
  height: auto;
}
.always-item{
  text-align: center;
}
.always-info{
  padding: 0 20px;
  position: relative;

}
.always-info .always-title{
  font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    background: #fff;
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 8px;
    transform: translateY(-25px);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    text-decoration: none;
}
.always-item a:hover {
  color: #009f4d;
  transition: .5s ease;
}
.always-item .btn-noColor{
  padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.3s ease-in;
    color: #3f3a64;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}
.always-text{
  color:#666;
  font-size: 17px;
  opacity: .8;
  line-height: 27px;
}



/*Gallery section  */
.gallery__content a.zoom {
  overflow: hidden;
  position: relative;
}

.gallery__content a.zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 42, 55, 0.8);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.gallery__content span.hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.gallery__content a.zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery__content a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}

.gallery__bg {
  background-color: var(--bg-color);
}

/* Success */
.progress__info h6 {
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight: 400;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #00a63f;
}

#a123 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}


/*Gallery section  */
.gallery__content a.zoom {
  overflow: hidden;
  position: relative;
}

.gallery__content a.zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 42, 55, 0.8);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.gallery__content span.hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.gallery__content a.zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery__content a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}

.gallery__bg {
  background-color: var(--bg-color);
}

/* Success */
.progress__info h6 {
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight: 400;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #00a63f;
  transition: width 0.6s ease;
}

#a123 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/* Light theme */
#darkBody {
  background-color: white;
}

#switchButton {
  font-size: 24px;
  color: white;
  transform: rotate(-20deg);
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

#carouselCorp .btn-bottom .carousel-control-prev i,
#carouselCorp .btn-bottom .carousel-control-next i {
  color: #151421;
  background-color: white;
}
#every {
  background-color: #f7f7f7;
}
/* Dark Theme*/
.dark#darkBody {
  background-color: #151421;
}
.dark .nav-fixed{
  background-color: #151421;
  color: white;
}
.dark #site-header .navbar-brand,.dark #site-header .navbar-nav .nav-link{
  color: white;
}

.dark #switchButton {
  color: #151421;
}

.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark body {
  background-color: #151421;
  color: white;
}

.dark #carouselCorp .btn-bottom .carousel-control-prev i,
.dark #carouselCorp .btn-bottom .carousel-control-next i {
  color: white;
  background-color: rgb(32, 31, 31);
  border: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 10;
}
.dark .wave{
  fill: #151421;
}
.dark .about{
  background-color: #151421;
}
.dark .title-b{
  color: white;
}
.dark .about-link a{
  color: white;
}
.dark #every{
  background-color: black;
}
.dark .every-item1{
  background-color: #151421;
}
.dark .every-item1 a{
  color: #fff;
}
.dark .always-title{
  background-color: black;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark .btn-noColor{
  color: #fff;
}

.dark .gallery{
  background-color: #0d8abc;
}

@media screen and (max-width: 1200px) {
  #carouselCorp .carousel-item{
    max-height: 800px;
  }
  #carouselCorp .carousel-caption{
    left: 2%;
    top:26%;
  }
  .wave {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 1024px) {
  .carousel{
    max-height: 800px;
  }
  #carouselCorp .carousel-caption{
    left: 4%;
  }
  .wave {
    width: 100%;
    bottom: 0;
    left:0;
    z-index: 10;
  }
}
@media screen and (max-width: 992px) {
  .carousel{
    max-height: 800px;
  }
  #carouselCorp .carousel-caption{
    left: 4%;
    top: 20%;
  }
  .wave {
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  /* .always-center{
    justify-content: center;
  }
  .always .col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
  }
   */
}

@media screen and (max-width: 768px) {
  header .navbar {
    margin-top: 8px;
    margin-left: 14px;
  }
  .navbar{
    justify-content: space-between;
  }
  header .navbar-toggler {
    border: none;
    background-color: #009f4d;
  }
  #site-header .navbar-toggler span{
    background-color: #009f4d;
    color: white;
  }
  #site-header .navbar-nav{
    text-align: center;
    width: 100%;
  }
  #navbarCorp .nav-item .nav-link{
    background-color: #151421;  
  }
  .nav-fixed #navbarCorp .nav-item .nav-link{
    background-color: #fff;
    color: #404040;
  }
  .carousel{
    max-height: 600px;
  }
  #carouselCorp .carousel-caption{
    left: 6%;
  }
  #carouselCorp .carousel-item{
    padding-left: 0;
  }
  #carouselCorp .carousel-caption h1 {
    font-size: 35px;

  }
  #carouselCorp .carousel-caption p {
    font-size: 16px;
    line-height: 28px;
  }
  .btn-bottom{
    z-index: 12;
  }
  .wave {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .always-center{
    justify-content: center;
  }
  .always .col-md-6{
    flex: 0 0 50%;
    max-width: 50%;
  }

}

@media screen and (max-width: 576px) {
  header .navbar {
    padding: 30px 0px;
  }
  #navbarCorp .nav-item .nav-link{
    background-color: #151421;
  }
  .carousel{
    min-height: 600px;
    font-size: 10px;
  }
  #carouselCorp .carousel-caption{
    top: 30%;
    left: 3%;
    padding: 0 30px;
  }
  .btn-bottom{
    z-index: 12;
  }
  .wave {
    width: 100%;
    bottom: 0 ;
    left: 0;
    z-index: 1;
  }
  .always-center{
    justify-content: center;
  }
  .always .col-sm-12{
    flex: 0 0 100%;
    max-width: 100%;
  }

}
@media screen and (max-width: 240px){
  .btn-bottom{
    z-index: 12;
  }
}