* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #666;
  --bg-color: #fff;
  --heading-color: #3f3a64;
  --border-radius: 8px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --titlec2: #c2c2c2;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f7f7f7;
  --bg-lightgrey: #f8f9fa;
  --layer: rgba(29, 42, 55, 0.7);
  --dark-black:#100f19;
  --bg-dark:#151421;
}

html,
body {
  font-family: 'Jost', sans-serif;
  line-height: 1.5;
  color: #404040;
  font-size: 1rem;
  padding: 0;
  margin: 0!important;
}

.noScroll {
  min-height: 100vh;
  overflow: hidden;
}

.container-fluid{
  padding: 0;
}
.container{
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn-secondarys {
  padding: 12px 46px;
  background-color:var(--primary-color);
  border-color: var(--primary-color);
  line-height: 18px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--bg-color);
  cursor: pointer;
  z-index: 10;
}
.btn-secondarys:hover{
  color: var(--bg-color);
  background-color: #008030;
  border-color: #00732c;
  transition: .6s ease-in;
  text-decoration: none;
  
}

.title-s{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 26px;
  display: block;
  color: #7e7d7d;
}
.title-b{
  font-size: 34px;
  line-height: 45px;
  font-weight: 600;
  color: var(--heading-color);
}
.title-p{
  font-size: 17px;
  line-height: 27px;
  color: var(--font-color);
  opacity: .8;
}


/* Header */
.fixed-top {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  border-bottom: 2px solid rgba(231, 231, 231, 0.18);
  background-color: transparent;
}

.main-header {
  padding: 0px;
  transition: all .4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 15;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}
#site-header h1{
  margin-bottom: 0;
}
.nav-fixed {
  padding: 0px;
  background-color:  var(--bg-color);
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  z-index: 100;
}

.nav-fixed .navbar .navbar-brand, .nav-fixed #navbarCorp .nav-item .nav-link  {
  color: var(--heading-color);
}

.nav-fixed #navbarCorp .nav-item .nav-link:hover{
  opacity: 0.8;
}

.nav-fixed #navbarCorp .nav-item.active .nav-link {
  color: var(--primary-color);
}
.nav-fixed .btn .fa-moon{
  color: var(--heading-color);
}

header .container {
  max-width: 1220px;
}

header .navbar-brand {
  font-size: 1.9rem;
  color:  var(--bg-color);
  font-weight: 600;
}

header .navbar .navbar-brand {
  color:  var(--bg-color);
}

header .navbar .navbar-brand .fa-align-right {
  color: var(--primary-color);
  margin-right: 5px;
  vertical-align: bottom;
}

header .navbar .navbar-brand .logo {
  text-transform: none;
  display: block;
  font-size: 14px;
  padding-left: 46px;
  font-weight: 600;
  opacity: .9;
}
header .navbar-toggler {
  border: none;
  background-color: var(--primary-color);
}
#site-header .navbar-toggler{
  background-color: var(--primary-color);
  color:  var(--bg-color);
}

#navbarCorp .nav-item {
 padding: 0 12px;
}

#navbarCorp .nav-link i {
  font-size: 12px;
  transform: translateY(-3px);
}

#navbarCorp .nav-item .nav-link {
  color:  var(--bg-color);
  transition: all .5s ease;
  font-size: 15px;
  padding: 14px 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.7;
}

#navbarCorp .active .nav-link,#navbarCorp .nav-item .nav-link:hover {
  opacity: 1;
  transition: .6s ease;
}

#navbarCorp .header-search {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  border-radius: 100%;
  outline: 0;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color:  var(--bg-color);
  cursor: pointer;
}

#navbarCorp .header-darkLight {
  font-size: 20px;
  padding-right: 26px;
  color:  var(--bg-color);
}


#navbarCorp .dropdown-menu {
  width: 180px;
  border-radius: var(--border-radius);
  transform: translateX(-60px);
  position: absolute;
}

#navbarCorp .dropdown-menu a {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--heading-color);
}

#navbarCorp .dropdown-menu::before {
  content: "";
  position: absolute;
  border-width: 12px 10px;
  border-style: solid;
  border-color: transparent transparent  var(--bg-color) transparent;
  right: 80px;
  top: -24px;
}

.header-search .btn-material{
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: var(--primary-color);
  outline: 0;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
#close .navbar-toggler-icon {
  display: block;
}
#close .close {
  display: none;
}
.open #close .navbar-toggler-icon{
    display: none;
}
.open #close .close{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
}
/* Carousel */
.carouselC{
  width: 100%;
  height: 100%;
  position: relative;
}
.carouselC .container-fluid{
  position: relative;
  height: auto;
  overflow: hidden;
}

#carouselCorp .carousel-item{
  width: 100%;
  min-height:110vh ;
  position: relative;
}

#carouselCorp .carousel-item>img {
  height: 100%;
  object-fit: cover;
}

.bg1 {
  background: url(../Img/b1.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: top;
}

.bg2 {
  background: url(../Img/b2.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: top;
}

.bg3 {
  background: url(../Img/b3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.bg4 {
  background: url(../Img/b4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.carousel-item .overlay {
  background: rgba(29, 42, 55, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#carouselCorp .carousel-caption {
  top: 25%;
  left:11.5%;
  width:100%;
  text-align: left;
  text-overflow: clip;
  z-index: 12;
}

#carouselCorp .carousel-caption h1 {
  line-height: 1.1;
  font-size: 65px;
  margin-bottom: 16px;
  font-weight: 600;

}

#carouselCorp .carousel-caption p {
  font-size: 24px;
  line-height: 30px;
  color:  var(--bg-color);
  opacity: .9;
  word-break: break-word;

}

#carouselCorp .btn-bottom {
  position: absolute;
  bottom: 65px;
  right: 40px;
  text-align: end;
  z-index: 5;
}

#carouselCorp .carousel-control-next,
#carouselCorp .carousel-control-prev {
  position: relative;
  margin: 0 8px;
  font-weight: 900;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 20px;
  z-index: 10;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%)
}


#carouselCorp i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  fill:  var(--bg-color);
}

.svg{
  vertical-align: bottom;
  overflow:hidden ;
}

/* About */
.img-about{
  max-width: 100%;
  height: auto;
  border-radius:var(--border-radius);
}
.about-list{
  list-style: none;
}
.about-link{
  margin-bottom: 10px;
}
.about-link span{
  text-align: center;
  margin-right: 14px;
}
.about-link a{
  font-size: 19px;
  color: var(--heading-color);
  font-weight: 500;
  text-decoration: none;
}
.about-link i{
  width: 16px;
  height: 16px;
  font-size: 12px;
  background-color: var(--primary-color);
  border-radius: 50%;
  color:  var(--bg-color);
  line-height: 20px;
}

/* Every */

.every-grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 25px;
}
.every-item1{
  padding: 40px 30px;
  border-radius:var(--border-radius);
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  background-color:  var(--bg-color);
  transition: .3s ease;
  -webkit-transition: .3s ease;
}
.every-item1 h4 a{
  color: var(--heading-color);
  text-decoration: none;
}
.every-item1:hover{
  transform: translateY(-4px);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
  transition: .3s ease;
}
.every-item1 h4 a:hover{
  color: var(--primary-color);
  transition: all .5s;
}
.every-left a{
  transition: ease-out .3s;
}

/* Always */

.always h3{
  text-align: center;
}
.always-img{
  display: block;
}
.always-img img{
  border-top-left-radius:var(--border-radius);
  border-top-right-radius: var(--border-radius);
  max-width: 100%;
  height: auto;
}
.always-item{
  text-align: center;
}
.always-info{
  padding: 0 20px;
  position: relative;

}
.always-info .always-title{
  font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: var(--heading-color);
    background:  var(--bg-color);
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    transform: translateY(-25px);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    text-decoration: none;
}
.always-item a:hover {
  color: var(--primary-color);
  transition: .5s ease;
}
.always-item .btn-noColor{
  padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: .3s ease-in;
    color: var(--heading-color);
    border-radius: var(--border-radius);
    text-decoration: none;
    text-align: center;
}
.always-center{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Gallery section  */

.gallery,.gallery .gallery__bg{
  background-color: var(--bg-lightgrey) ;
}
.gallery__content a.zoom {
  overflow: hidden;
  position: relative;
}

.gallery__content a.zoom img {
  transition: .3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 42, 55, 0.8);
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.gallery__content span.hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
  padding: 46px 50px;
  color:  var(--bg-color);
  z-index: 2;
}

.gallery__content a.zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery__content a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}

.gallery__bg {
  background-color: var(--bg-color);
}
.company__logo{
  border-top: 1px solid rgba(213, 206, 206, 0.18);
}

/* Success */
.progress__info h6 {
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight: 400;
  color: var(--heading-color);
  margin-bottom: 10px;
}
.progress__info{
  margin-bottom: 30px;
  text-align: left;
  position: relative;
}
.progress{
  display: flex;
  height: 4px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: var(--bg-grey);
  border-radius: 0.25rem
}
.ss-img{
  border-radius: var(--border-radius);
}
.progress__title{
  display: grid;
  grid-template-columns: 1fr auto;
  width: 80%;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color:  var(--bg-color);
  text-align: center;
  white-space: nowrap;
  background-color: #00a63f;
}

.success .progress .gradient-1 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
  background-size: cover;
}
/* .success .progress.gradient-1::after,
.success .progress.gradient-1::before {
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%); 
} */

.success .progress .gradient-2 {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
  background-size: cover;
}

.success .progress .gradient-3 {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
  background-size: cover;
}
.success .progress .gradient-4 {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
  background-size: cover;
}
.success .progress .gradient-1::before, .success .progress .gradient-1::after
{
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.success .progress .gradient-2::before, .success .progress .gradient-2::after
{
  content: "";
  position: absolute;
  right: 5%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.success .progress .gradient-3::before, .success .progress .gradient-3::after
{
  content: "";
  position: absolute;
  right: 40%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.success .progress .gradient-4::before, .success .progress .gradient-4::after
{
  content: "";
  position: absolute;
  right: 15%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.success .progress .gradient-1::before, 
.success .progress .gradient-2::before, 
.success .progress .gradient-3::before, 
.success .progress .gradient-4::before{
  height: 28px;
  width: 28px;
  border: 1px solid;
  opacity: .3;
}
.success .progress .gradient-1::after,
.success .progress .gradient-2::after,
.success .progress .gradient-3:after,
.success .progress .gradient-4::after {
  height: 13px;
  width: 13px;
  border: 3px solid;
  background-color: var(--bg-color); }
/*Gallery section  */
.gallery__content a.zoom {
  overflow: hidden;
  position: relative;
}

.gallery__content a.zoom img {
  transition: .3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 42, 55, 0.8);
  transition: all .3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.gallery__content span.hover-content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.gallery__content a.zoom:hover .hover-content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery__content a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}

.gallery__bg {
  background-color: var(--bg-color);
}
.lb-data .lb-number{
  color: var(--primary-color);
  font-size: 1em;
  padding-top: 1em;
}
.lb-data .lb-caption{
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 600;
}
.lb-data .lb-details{
  margin-top: 1em;
}
/* Title css */
.title-big{
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}
.title-small{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}

/* Success */
.progress__info h6 {
  display: grid;
  grid-template-columns: 1fr auto;
  font-weight: 400;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #00a63f;
  transition: width .6s ease;
}

/* #a123 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
} */

/* Testimonial */
.feedback{
  background: var(--bg-lightgrey);
}
.testimonial__des{
  display: grid;
    grid-auto-flow: column;
    justify-content: center;
    text-align: left;
    grid-gap: 20px;
}
.feedback .testimonial__img{
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}
.feedback .testimonial__img IMG{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.feedback .testimonial__des h3{
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
.feedback .testimonial__des .testimonial__ppl p{
  font-style: normal;
  margin-bottom: 0;
  opacity: 0.8;
  text-align: left;
}
.feedback .testimonial{
  display: block;
  padding: 40px 30px;
  position: relative;
  border: none;
  max-width: 900px;
  margin: auto;
}
.feedback .testimonial p{
  font-size: 19px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
  color: var(--titlec2);
  text-align: center;
  opacity: .8;
}
/* News - Blog */
.post-thumbnail img{
  width: 100%;
  height: 242px;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.news .blog a.blog-desc{
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 10px;
}
.news .blog p a {
  font-weight: 400;
  font-size: 17px;
  color: #999;
}
.news .date p{
  font-weight: 400;
  font-size: 15px;
  color: #999;
}
.news .card-header{
  border: none;
}
.news .card{
  border: none;
    background: none;
    box-shadow: 0 20px 40px 0 rgb(50 65 141 / 12%);
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    border: 1px solid var(--border-color);
}
.news .card-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.news .blog .row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* Find - Subscribe */
.find{
  background-image: url(../Img/map.png);
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.find form{
  margin-top: 25px;
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  max-width: 550px;
  margin: auto;
}
.find .btn-primary{
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
}
.find button.btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 25px;
  font-size: 16px;
}
.find .title-b{
  color: var(--bg-color);
}
.find .title-p{
  color: #eee;
}
.find input{
  padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid var(--border-color-light);
    outline: none;
    width: 100%;
    background: var(--bg-color);
    border-radius: 0;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
}
.find .input-group-text{
  color: #999;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 0 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.find .bottom-info .btn{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 600;

}

/* Footer */
footer{
  background-color: var(--bg-dark);
}
.footer__top{
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}
.footer__logo a{
  color: white;
  text-decoration: none;
}
.footer__logo .fa-align-right{
  color: var(--primary-color);
  padding-right: 10px;
}
.footer__logo .logo{
  display: block;
  font-size: 16px;
  transform: translateX(38px);
}
.footerTop__title{
  color: #97a1a9;
  font-size: 18px;
  line-height: 28px;
}
.footer__icon i{
  margin-right: 14px;
  color: #97a1a9;
}
.footer__title{
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 25px;
  font-weight: 400;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.footer__item2{
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  margin-bottom: 10px;
}
.footer__list{
  list-style: none;
}
.footer__list a{
  color: #7f8a94;
  text-decoration: none;
  font-size: 19px;
}
.footer__list a:hover, .footer__icon i:hover{
  color: var(--bg-color);
  transition: .4s ease-in;
  cursor: pointer;
}

.footer__bottom{
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #7f8a94;
  padding: 26px 0 10px;
}
.footer__bottom a{
  color: var(--primary-color);
}

/* Light theme */
#darkBody {
  background-color:  var(--bg-color);
}
#switchButton {
  font-size: 24px;
  color:  var(--bg-color);
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

#carouselCorp .btn-bottom .carousel-control-prev i,
#carouselCorp .btn-bottom .carousel-control-next i {
  color: var( --dark-black);
  background-color:  var(--bg-color);
}
#every {
  background-color:  var(--bg-grey);
}
/* Dark Theme*/
.dark#darkBody {
  background-color: var(--bg-dark);
}
.dark .nav-fixed{
  background-color: var(--bg-dark);
  color:  var(--bg-color);
}
.dark #site-header .navbar-brand,.dark #site-header .navbar-nav .nav-link{
  color:  var(--bg-color);
}

.dark #switchButton {
  color: var(--bg-dark);
}

.dark #switchButton .fa-sun {
  display: block;
  color:  var(--bg-color);
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark body {
  background-color: var(--bg-dark);
  color:  var(--bg-color);
}

.dark #carouselCorp .btn-bottom .carousel-control-prev i,
.dark #carouselCorp .btn-bottom .carousel-control-next i {
  color:  var(--bg-color);
  background-color: rgb(32, 31, 31);
  border: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 10;
}
.dark .wave{
  fill: var(--bg-dark);
}
.dark .about{
  background-color: var(--bg-dark);
}
.dark .title-b{
  color:  var(--bg-color);
}
.dark .title-p{
  color: var(--titlec2);
}

.dark .about-link a{
  color:  var(--bg-color);
}
.dark #every{
  background-color: var( --dark-black);
}
.dark .every-item1{
  background-color: var(--bg-dark);
}
.dark .every-item1 a{
  color:  var(--bg-color);
}
.dark .always-title{
  background-color: var( --dark-black);
  color:  var(--bg-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark .gallery{
  background-color: var(--dark-black);
}
.dark .gallery__bg{
  background-color: var(--dark-black);
}
.dark .progress__title{
  color: var(--bg-color);
}
.dark .feedback{
  background-color: var(--dark-black);
}
.dark .news a.blog-desc{
  color: var(--bg-color);
}
.dark .news .card{
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark .news .card-body{
  border-bottom:1px solid rgba(255, 255, 255, 0.2) ;
}
.dark .testimonial__ppl h3{
  color: var(--bg-color);
}
.dark .btn-noColor{
  color:  var(--bg-color);
}


/* Back To Top */
.backToTop {
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  font-size: 14px;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 20px;
  bottom:20px;
  z-index: 100;
  color: #fff;
  transition: ease-out .3s;
  visibility: hidden;
}
.backToTop:hover{
  color: #fff;
  background-color: #008030;
  transition: ease-in .4s;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}




@media  screen and (max-width: 1280px) {
  .container{
    max-width: 1200px;
  }
   
}
@media screen and (max-width: 1200px) {
  .container{
    max-width: 1140px;
  }
  #carouselCorp .carousel-item{
    min-height: 800px;
  }
  #carouselCorp .carousel-caption{
    left: 2%;
    top:26%;
  }
  .carousel-item .carousel-caption .btn-secondary{
    z-index: 13;
  }
}

@media screen and (max-width: 1024px) {
  .container{
    max-width: 1020px;
  }
  .carousel{
    min-height: 800px;
  }
  #carouselCorp .carousel-caption{
    left: 4%;
  }

}
@media screen and (max-width: 992px) {
  .container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }
  .carousel{
    min-height: 800px;
  }
  #carouselCorp .carousel-caption{
    left: 4%;
    top: 20%;
  }
  #navbarCorp .nav-item .nav-link{
    text-align: center;
    background-color: var(--bg-dark); 
  }
  .nav-fixed #navbarCorp .nav-item .nav-link{
    background-color:  var(--bg-color);
    color: #404040;
  }
  .header-search{
    position: absolute;
    top: 20px;
    right: 120px;
  }
  #switchButton{
    position: absolute;
    top: 26px;
    right:70px;
  }
}

@media screen and (max-width: 768px) {
  .container{
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }
  .header-search{
    position: absolute;
    top: 20px;
    right: 120px;
  }
  #switchButton{
    position: absolute;
    top: 26px;
    right:70px;
  }

  header .navbar {
    margin-top: 8px;
    margin-left: 14px;
  }
  .navbar{
    justify-content: space-between;
  }
  #navbarCorp .dropdown-menu{
    transform: translateX(0);
    width: 100%;
    text-align: center;
    align-items: center;
  }
  #navbarCorp .dropdown-menu::before{
    display: none;
  }
  #site-header .navbar-nav{
    text-align: center;
    width: 100%;
  }
  .carousel{
    min-height: 600px;
  }
  #carouselCorp .carousel-caption{
    left: 6%;
  }
  #carouselCorp .carousel-item{
    padding-left: 0;
  }
  #carouselCorp .carousel-caption h1 {
    font-size: 35px;
  }
  #carouselCorp .carousel-caption p {
    font-size: 16px;
    line-height: 28px;
  }
  .btn-bottom{
    z-index: 12;
  }
}

@media screen and (max-width: 576px) {
  .container{
    max-width: 570px;
   padding: 0 30px;
  }
  header .navbar {
    padding: 30px 0px;
  }
  .nav-fixed #navbarCorp .nav-item .nav-link{
    background-color:  var(--bg-color);
    color: #404040;
  }
  #navbarCorp .nav-item .nav-link{
    background-color: var(--bg-dark);
    opacity: 1;
    z-index: 100;
  }


  .carousel{
    min-height: 600px;
    font-size: 10px;
  }
  #carouselCorp .carousel-caption{
    top: 30%;
    left: 3%;
    padding: 0 30px;
  }
  .footer__title{
    margin-top: 25px;
  }
  .btn-bottom{
    z-index: 12;
  }
}
@media screen and (max-width: 240px){
  .btn-bottom{
    z-index: 12;
  }
}